/* Animations */


/* Scroll Behavior Smooth*/
/* Scroll Padding Top */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

/* header */

.overlay{
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; 

    /* Efecto Glass  */

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0,37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;

}


#cart-toggle:checked ~ .overlay{
    display: block;
}


#menu-toggle:checked ~ .overlay{
    display: block;
}

/* Hover Nav */

.navbar-list li{
    position: relative;
    padding: 0;

}

.navbar-list li a::after{
    content: "";
    height: 20px;
    width: 100%;
    background: var(--text-white);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* Carrito  */


.cart-icon{transition: all 0.2s ease-out;}

.cart-icon:hover{
    color: var(--electric);
    border-color: var(--electric);
    transition: all 0.2s ease-in;

}


/* Botones Carrito */

.quantity-handler{
    transition: all 0.2s ease-in;
}

.quantity-handler:hover{
    cursor: pointer;
    color: var(--electric);
    transition: all 0.2s ease-in;
}


/* Botones comprar */

.btn-add, .hero-info a{
    transition: all 0.2s ease-out;
}


.btn-add:hover, .hero-info a:hover{
    background-color: var(--electric);
    transition: all 0.2s ease-in;
}

.btn-load{
    transition: all 0.2s ease-in-out;
    font-weight: 600;

}.btn-load:hover{
  background-color: var(--electric);
  color: var(--text-white);
  transition: all 0.2s ease-in;
}

/* Animaciones  */

/* Fade */

@keyframes fade {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Slide arriba */

@keyframes slide-up {
    from{
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

/* Slide Right */

@keyframes slide-right {
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0);
    }
}

/* Animations h1 */

.hero-info h1{
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

/* Animations p  */

.hero-info p {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;
}

/* Animation be nucber */

.hero-info a{
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
}