@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");


/* ====================
    Root
   ==================== */
   

:root {
    /* bg colors */
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
  
    /* Text colors */
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
  
    /* Decoration */
    --fire: #ff6d00;
    --electric: #64d3ff;
  }

  /* ====================
    Layout
   ==================== */

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
    background-color:  #02050e;
}


/* =================
    Nav Bar
   ================= */

header{
    display: flex;
    justify-content: space-between;
    background: var(--secondary);
    align-items: center;
    padding: 0px 1.8em 0px 1.8em;
    position: fixed;
    top: 0;
    /* z-index: 2;  */
    width: 100%;
}

.img-logo{
    height: 40%;
    padding: 0.5em 0;
}

nav{
    display: flex;
    gap: 9em;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875em;
}

nav ul li {
    list-style: none;
    
}

nav li a{
    color: var(--text-gray);
    font-size: 0.875em;
}

nav li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
}

.cart-logo{
    font-weight: 600;
    border-radius: 10px;
    height: 30px;
    padding: 0.3125em 0.625em;
    margin-right: 1em;
    color: var(--text-white);
    cursor: pointer;
}



/* ====================
    Main content
   ==================== */

/* ====================
    Hero
   ==================== */

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
}

.hero{
    margin-top: 4em;
    padding: 4em 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    width: 50%;
}

.hero h1{
    font-size: 3rem;
    width: 80%;
    min-width: 500px; /*Para que nunca ocupe menos que esto en desktop*/
    font-weight: 800;
    color: var(--text-white);
}

.hero-info p{
    font-size: 1rem;
    width: 70%;
    color: var(--text-gray);
}

.hero-info p > span {
    font-weight: 800;
}
  

.hero-info a {
    color: var(--text-white);
    background-color: var(--primary);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
}

/* ====================
    Hero Card 
   ==================== */

.hero-card {
    width: 300px;
    background: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  
.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.hero-card-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
  
.hero-card-top h3 {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.hero-card-top span {
    background-color: var(--primary);
    text-align: center;
    width: 50px;
    padding: 3px 0px;
    font-size: 14px;
    border-radius: 10px;
}
  
.hero-card-bottom {
    display: flex;
    justify-content: space-between;
}
  
.hero-card-creator {
    display: flex;
    align-items: center;
    gap: 5px;
}
  
.hero-card-creator img {
    height: 40px;
    width: 40px;
}
  
.creator-info p:first-child,
.hero-card-price p {
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 300px;
}
  
.hero-card-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
  
.hero-card-price span,
.creator-info p:last-child {
    font-size: 14px;
}
  
.hero-card-price span {
    font-weight: 700;
}
  